@charset "UTF-8";

@import '_variables.scss';
@import '_mixin.scss';

html{
  font-size:62.5%;
}

body {
  color: $font-color;
  @include fontSize($font-size);
  font-family: $font-family;
  -webkit-text-size-adjust: 100%;

  @include mqSm{
    @include fontSize($font-size-sp);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:visited{
  color: $color-theme;
  &:hover{
    color: lighten($color-theme, 10%);
  }
}

p,
h1,
h2,
h3,
h4,
h5{
  line-height: $lineHeight-default;
}

img{
  max-width:100%;
}
