@charset 'UTF-8';

// ---------------------------------------------------------------
//  カラー
// ---------------------------------------------------------------
//色コード
//変数
$color-theme:#8e44ad;
// ---------------------------------------------------------------
//  フォント
// ---------------------------------------------------------------
$font-size: 1.4;
$font-size-sp: 1.3;
$font-color: #666;
$font-color-light: #797979;
// $font-family: -apple-system, BlinkMacSystemFont, "My Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
$font-family: -apple-system, Sawarabi Gothic, Yu Gothic Medium,YuGothic Medium, Verdana, Meiryo, sans-serif;
// $font-family: -apple-system,Sawarabi Gothic,Yu Gothic Medium,YuGothic Medium,\\6E38\30B4\30B7\30C3\30AF,Helvetica Neue,Helvetica,\\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3,Hiragino Kaku Gothic ProN W3,Arial,Verdana,Roboto,arial,Meiryo UI,\\30E1\30A4\30EA\30AA,Meiryo,Osaka,sans-serif;

// ---------------------------------------------------------------
//  リンク
// ---------------------------------------------------------------
$link-color: #666;
// ---------------------------------------------------------------
//  イージング
// ---------------------------------------------------------------
$ease-easeOut:cubic-bezier(.24, 1, .32, 1);
$ease-back:cubic-bezier(.11, 1.03, .33, 1.14);
// ---------------------------------------------------------------
//  幅・高さ
// ---------------------------------------------------------------
$width-default:800px;
// $width-small:800px;
$height-header: 107px;
$height-header-sm: 58px;
$gutter-default: 30px;
$gutter-default-md: 40px;
$gutter-default-sm: 10.6667vw;
// ---------------------------------------------------------------
//  行間
// ---------------------------------------------------------------
$lineHeight-default: 1.75;
// ---------------------------------------------------------------
//  メディアクエリ
// ---------------------------------------------------------------
// $widthXl: 1280;
$widthXl: 1000;
$widthLg: 853;
$widthMd: 768;
$widthSm: 480;
